.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  overflow: auto;
}

.code {
  font-family: monospace;
}

.banner {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerBanner {
  width: 100%;
  max-width: 800px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.titleContainer {
  padding: 4rem 1rem 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.titleContainer a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.titleContainer a:hover {
  text-decoration: none;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  font-style: italic;
  color: #000;
}

.subTitleContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  padding-left: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 650px) {
  .titleContainer a {
    display: inline-flex;
    flex-direction: column;
  }
  .subTitleContainer {
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
}

.blockInfo {
  display: flex;
  flex-direction: column;
}

.blockInfoGasPrice {
  margin-bottom: 0.5rem;
}

.blockInfoBlock,
.blockInfoBlock a {
  text-decoration: none;
  font-style: italic;
  opacity: 0.5;
  font-size: 0.7rem;
  color: #000;
}

.boxesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  width: 100%;
  margin-bottom: 4rem;
}

.boxes {
  padding: 1rem;
  width: 100%;
  max-width: 780px;
  display: flex;
  justify-content: space-around;
  padding: 3rem 0rem;
}

.box {
  background-color: #1a1e23;
  padding: 44px 48px 48px;
  border-radius: 24px;
  width: 308px;
}

.boxHeader {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  line-height: 44px;
}

.boxContent {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, .8);
  line-height: 32px;
}

.boxContentSmall {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: rgba(255, 255, 255, .6);
  line-height: 32px;
}

.boxLastUpdated {
  margin-top: 0.5rem;
  font-size: 0.6rem;
  opacity: 0.3;
  color: #fff;
  font-style: italic;
}

@media (max-width: 650px) {
  .boxes {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
  }
  .box {
    width: 100%;
  }
}

.gasEstimates {
  margin-bottom: 4rem;
}

.gasEstimatesHeader {
  margin-bottom: 1rem;
}

@media (max-width: 650px) {
  .gasEstimates {
    width: 100%;
    padding: 0 2rem;
  }
}

.tableTabsContainer {
  padding: 0 1rem;
  width: 100%;
  max-width: 780px
}

.tableTabs {
  display: flex;
  justify-content: space-around;
  background-color: #f1f4f9;
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  gap: 1rem;
}

.tableTab:hover {
  cursor: pointer;
}

.tableTab {
  padding: 0.5rem 1.2rem;
  border-radius: 8px;
}

.tableTab:hover {
  background-color: #e2e8f0
}

.tableTab h2 {
  font-weight: 500;
}

.tableTabSelected {
  padding: 0.5rem 1.2rem;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 8px #14171a14, 0 0 4px #14171a0a;
}

.tableTabSelected h2 {
  font-weight: 700;
}

.tableTabSelected:hover {
  background-color: #fff;
}

.tableTabTitle {
  margin-bottom: 0.2rem;
}

.tableTabSubtitle {
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
}

.tableTabsLastUpdatedBlock {
  font-size: 0.7rem;
  opacity: 0.5;
  font-style: italic;
}

@media (max-width: 650px) {
  .tableTabs {
    flex-direction: column;
  }
}

.tableContainer {
  overflow: auto;
  width: 100%;
}

.gasTable {
  margin-bottom: 4rem;
  width: 100%;
}

.rank {
  display: flex;
  white-space: nowrap;
  justify-content: flex-end;
}

.gasTableContainer {
  padding: 0 1rem;
  width: 100%;
  max-width: 780px
}

.timeRangeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.timeRange {
  display: flex;
  padding: 0.25rem;
  background: #f1f4f9;
  align-items: center;
  border-radius: 8px;
}

.timeRangeButton {
  background: none;
  border: none;
  margin: 0;
  font: inherit;
  font-weight: 500;
  color: #000;
  cursor: pointer;
  outline: inherit;
  text-align: inherit;
  line-height: inherit;
  padding: 0.2rem 0.5rem;
  border-radius: 8px;
}

.timeRangeButton[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.timeRangeButtonSelected {
  background: #fff;
  border: none;
  margin: 0;
  font: inherit;
  font-weight: 700;
  color: #000;
  cursor: pointer;
  outline: inherit;
  text-align: inherit;
  line-height: inherit;
  padding: 0.2rem 0.5rem;
  border-radius: 8px;
}

@media (max-width: 650px) {
  .timeRangeContainer {
    padding: 0 2rem;
  }
}

.infoFooter {
  opacity: 0.5;
  font-size: 0.6rem;
  line-height: 1.5;
  padding: 0 2rem;
}

.footer {
  width: 100%;
  max-width: 800px;
  margin-top: 5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  padding: 0 1rem;
}

.footerLinks {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footerOptimism {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  font-style: italic;
  gap: 0.5rem;
}

.footerOptimism a {
  display: inline-flex;
  gap: 0.3rem;
  color: #000;
}

.footerOptimism a:hover {
  text-decoration: none;
}

@media (max-width: 650px) {
  .footer {
    flex-direction: column;
  }
  .footerOptimism {
    flex-direction: column;
    margin-bottom: 2rem;
  }
}
